<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632601885814-fesgaiqsdhf3vomc1e3qdu5od05a2m0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632601885814-fesgaiqsdhf3vomc1e3qdu5od05a2m0o</string>
	<key>API_KEY</key>
	<string>AIzaSyCivqJpiz0nBKK9zNUdjJlqR0JPR2cGlYg</string>
	<key>GCM_SENDER_ID</key>
	<string>632601885814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-2ac28</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-2ac28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632601885814:ios:1bef9992f121ae99463357</string>
</dict>
</plist>